#footer {
    border-top: 10px solid $darkRed;
    background-color: $darkBlue;
    #copyright {
        color: white;
        display: flex;
        justify-content: flex-end;

    }

    nav {
        display: flex;
        justify-content: flex-start;
        a.nav-link {
            color: white;
        }
        a.nav-link:hover {
            color: $cream;
        }
    }
//change current page link
    // .menu-item a[aria-current=page] {
    //     color: white;
    // }        
}

@media (max-width: 768px) {
    #footer {
        #copyright {
            justify-content: center;
        }
    
        nav {
            justify-content: center;
        }      
    }
}

@media (max-width: 576px) {
    #footer {
        #copyright {
            font-size: 14px;
        }      
    }
  }