@import 'variables';
@import 'font';

#site-header {
  background-color: $darkBlue !important;
  color: $cream;
  padding: 1rem 2rem;
  border-top: 10px solid $darkRed;
  border-bottom: 10px solid $darkRed;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-left {
    display: flex;
    align-items: center;

    .header-text {
      margin-left: 20px;
    }
  }

  .header-logo {
    display: inline-block;
    margin: 0;
    padding: 0;

    img {
      height: 120px;
      margin: 0;
      padding: 0;
      display: block;
    }
  }

  .header-text {
    color: $cream;
    text-align: left;

    h1 {
      margin: 0;
      font-family: "Inria Serif", serif;
      font-size: 3rem;
      color: $cream;
      text-transform: uppercase;
    }

    p {
      margin: 0;
      font-family: "Lato", sans-serif;
      font-size: 1.5rem;
      color: $cream;
    }
  }

  .header-login {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    margin-top: 10px;

    form.search-form {
      input[type="search"] {
        padding: 5px;
        border-radius: 5px;
        border: none;
        font-size: 1rem;
        font-family: "Inria Serif", serif;
        font-size: 0.85rem;
      }

      input[type="search"]::placeholder {
        color: transparent;
      }

      input[type="submit"] {
        display: none;
      }
    }

    .login-button {
      background-color: $gold;
      color: $white;
      padding: 5px 10px;
      font-size: 1rem;
      border: none;
      border-radius: 5px;
      text-decoration: none;
      font-weight: bold;
      font-family: "Inria Serif", serif;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $darkRed;
        color: #fff;
      }
    }
  }
}

.nav-wrapper {
  width: 100%;
  background-color: $lightBlue;
  padding: 10px 0;
  margin-bottom: 1rem;

  .main-nav {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
    padding-left: 20px;

    .nav-links {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      letter-spacing: 1px;

      li {
        display: inline-block;
        margin-right: 2.5rem;

        a {
          color: #000;
          font-family: "Inria Serif", serif;
          text-decoration: none;
          font-size: 1rem;
          font-weight: bold;
          transition: color 0.3s ease;

          &:hover,
          &:focus,
          &:active {
            color: $darkRed;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #site-header {
  
    .header-logo {
      margin: 0;
      padding: 0;
      img {
        height: 50px;
        margin: 0;
        padding: 0;
        display: block;
      }
    }
    .header-text {
      text-align: left;
  
      h1 {
        font-size: 1.5rem;
      }
  
      p {
        font-size: .75rem;
      }
    }
  }
}