@import 'variables';
@import 'font';

form.search-form {
  width: 100%;
  display: flex;
  align-items: center;

  input[type="search"] {
    width: 100%;
    max-width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    font-family: "Inria Serif", serif;
  }

  input[type="search"]::placeholder {
    color: transparent;
  }

  button.search-submit {
    background: none;
    border: none;
    font-size: 1rem;
    color: $cream;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button.search-submit .search-text {
    display: inline;
  }

  button.search-submit .search-icon {
    display: none;
  }
}

#site-header {
  background-color: $darkBlue !important;
  color: $cream;
  padding: 1rem 2rem;
  border-top: 10px solid $darkRed;
  border-bottom: 10px solid $darkRed;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-left {
    display: flex;
    align-items: center;

    .header-text {
      margin-left: 20px;
    }
  }

  .header-logo {
    display: inline-block;
    margin: 0;
    padding: 0;

    img {
      height: 120px;
      margin: 0;
      padding: 0;
      display: block;
    }
  }

  .header-text {
    color: $cream;
    text-align: left;

    h1 {
      margin: 0;
      font-family: "Inria Serif", serif;
      font-size: 3rem;
      color: $cream;
      text-transform: uppercase;
    }

    p {
      margin: 0;
      font-family: "Lato", sans-serif;
      font-size: 1.5rem;
      color: $cream;
    }
  }

  .header-login {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    margin-top: 10px;

    form.search-form {
      width: 100%;
      display: flex;
      align-items: center;
    }

    .login-button {
      background-color: $gold;
      color: $white;
      padding: 5px 10px;
      font-size: 1rem;
      border: none;
      border-radius: 5px;
      text-decoration: none;
      font-weight: bold;
      font-family: "Inria Serif", serif;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $darkRed;
        color: #fff;
      }
    }
  }
}

.nav-wrapper {
  width: 100%;
  background-color: $lightBlue;
  padding: 10px 0;
  margin-bottom: 1rem;

  .main-nav {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
    padding-left: 20px;

    .nav-links {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      letter-spacing: 1px;

      li {
        display: inline-block;
        margin-right: 2.5rem;

        a {
          color: #000;
          font-family: "Inria Serif", serif;
          text-decoration: none;
          font-size: 1rem;
          font-weight: bold;
          transition: color 0.3s ease;

          &:hover,
          &:focus,
          &:active {
            color: $darkRed;
          }
        }
      }
    }
  }
}

.nav-wrapper {
  width: 100%;
  background-color: $lightBlue;
  padding: 10px 0;
  margin-bottom: 1rem;
  display: flex;
  justify-content: start;

  .main-nav {
    display: flex;
    gap: 3rem;
    padding-left: 20px;

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
    }

    a.nav-link {
      color: #000;
      font-family: "Inria Serif", serif;
      text-decoration: none;
      font-size: 1rem;
      font-weight: bold;
      transition: color 0.3s ease;

      &:hover,
      &:focus,
      &:active {
        color: $darkRed;
      }
    }
  }
}

@media (max-width: 576px) {
  #site-header {
    .header-logo {
      margin: 0;
      padding: 0;

      img {
        height: 50px;
        margin: 0;
        padding: 0;
        display: block;
      }
    }

    .header-text {
      text-align: left;

      h1 {
        font-size: 1.5rem;
      }

      p {
        font-size: .75rem;
      }
    }
  }

  form.search-form {
    display: none;
    // width: 100%;
    // display: flex;
    // align-items: center;

    input[type="search"] {
      display: none;
      // width: 0;
      // padding: 0;
      // border: none;
      // background: none;
      // color: transparent;
      // transition: width 0.3s ease;
    }

    button.search-submit {
      display: none;
      // width: 40px;
      // height: 40px;
      // padding: 0;
      // font-size: 1.5rem;
      // justify-content: center;
      // display: flex;
      // align-items: center;
    }

    button.search-submit .search-text {
      display: none;
    }

    button.search-submit .search-icon {
      display: none;
      // display: inline;
      // font-size: 1.5rem;
    }
  }
//   form.search-form:hover input[type="search"],
//   form.search-form input[type="search"]:focus {
//     width: 150px;
//     padding: 5px;
//     background: $darkBlue;
//     color: $cream;
//     border: 1px solid $cream;
//   }
}
