.gameCardImage img.img-fluid {
  margin: 0 !important;
  padding: 0 !important;
  display: block;
}

.gameCardImage {
  margin: 0;
  padding: 0;
  line-height: 0;
}

.gameCardImage img {
  display: block;
  margin: 0;
  padding: 0;
  max-height: 150px;
  object-fit: cover;
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.gameCard {
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.gameCardInfo,
.gameCardGoal,
.gameCardRules,
.gameCardOther {
  font-size: 1rem;
}

.gameCardPlayers span,
.gameCardAge span,
.gameCardTime span,
.gameCardDifficulty span,
.gameCardMeta span,
.gameCardInfo span,
.gameCardGoal span,
.gameCardRules span,
.gameCardOther span,
.gameCardTools span {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: $darkGray;
  letter-spacing: 0.5px;
  font-weight: bold;
  line-height: 1.2;
}

.archive .entry-title {
  display: none !important;
}

body.category-game-posts .page-title {
  display: none;
}

body.category-game-posts .page-title,
body.category-game-posts .entry-title {
  display: none;
}

.gameCardContent {
  background-color: $white;
  color: #000;
  padding: 8px;
  padding-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 220px;
  overflow-y: auto;
  margin-top: 0;
}

.gameCardContent p {
  margin-top: 0;
  margin-bottom: 5px;
}

.gameCardMeta p {
  margin: 0 10px 0 0;
}

.gameCardTitle {
  color: $darkRed;
  text-align: left;
  font-size: 1.8rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.gameGrid {
  margin: 0;
}

.gameGrid > [class*='col-'] {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

.container {
  max-width: 100%;
}

.gameCardDarkBlue {
  background-color: $darkBlue;
  color: $cream;
}

.gameCardGold {
  background-color: $gold;
  color: $darkBlue;
}

.gameCardDarkRed {
  background-color: $darkRed;
  color: $cream;
}

.gameCardLightBlue {
  background-color: $lightBlue;
  color: $darkBlue;
}

.gameCardCream {
  background-color: $cream;
  color: $darkBlue;
}

.gameCardBlack {
  background-color: $black;
  color: $white;
}

.gameCardWhite {
  background-color: $white;
  color: $black;
}

.gameCardDefault {
  background-color: $defaultGray;
  color: #000;
}