.gamePost {
  background-color: $cream; // Light background for the posts
  color: $darkBlue; // Dark text for readability
  padding: 20px;
  margin: 15px; // Adjusted margin for grid-like layout
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(33.33% - 30px); /* 3 columns with spacing */
  margin-bottom: 20px;

  .gamePostImage {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .gamePostContent {
    margin-top: 15px;
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: left;
  }

  .gamePostTitle {
    font-family: "Inria Serif", serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: $darkRed; // Title in dark red
    margin-bottom: 10px;
  }

  .gamePostInfo {
    font-size: 1rem;
    color: $darkBlue; // Dark blue text for game info
    margin-bottom: 15px;
  }

  .gamePostInfo span {
    font-weight: bold;
  }
}

.games-archive-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.game-post {
  background-color: $cream; // Light background for the posts
  color: $darkBlue; // Dark text for readability
  padding: 20px;
  margin: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 30px); // 3 columns with spacing
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.board-game-bg {
  background-color: #BB8A3D; /* Gold for board games */
}

.card-game-bg {
  background-color: #313768; /* Dark blue for card games */
}

.rpg-bg {
  background-color: #989CBE; /* Light blue for RPGs */
}

.default-bg {
  background-color: #E9E3DA; /* Default background color */
}

.game-post h2 {
  font-family: "Inria Serif", serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: $darkRed; /* Title in dark red */
  margin-bottom: 10px;
}

.game-post-image img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
}

.game-post-excerpt {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 15px;
}

.game-post a {
  text-decoration: none;
  font-weight: bold;
  color: $darkRed;
}

.game-post a:hover {
  color: $lightBlue; // Change color on hover
}

.games-archive-header {
  background-color: $darkBlue; /* Dark blue header background */
  color: $cream; /* Light text color */
  padding: 20px;
  text-align: center;
  border-bottom: 8px solid $darkRed;
}

.games-archive-header h1 {
  font-family: "Inria Serif", serif;
  font-size: 2.5rem;
}

.games-archive-header p {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
}